{% extends 'todo_list/base.html' %}

{% block title %}
    ToDo #{{ object.pk }}
{% endblock title %}

{% block body %}
    <h3>ToDos:</h3>
    <div>
        <div>Title <strong>{{ object.title }}</strong></div>
        <div>Done <strong>{{ object.done }}</strong></div>
         <div>Done <strong>{{ object.description }}</strong></div>
    </div>

    <ul>
        <li>
            <a href="{% url 'todo_list:update' pk=object.pk %}">
              Update ToDo Item
          </a>
        </li>

    <li>
            <a href="{% url 'todo_list:delete' pk=object.pk %}">
              Delete ToDo Item
          </a>

        </li>
    </ul>


{% endblock body %}


