{% extends 'todo_list/base.html' %}

{% block title %}
    Confirm Delete ToDo Item #{{ object.id }}
{% endblock title %}


{% block body %}
    <h2>Confirm delete {{ object.title }}</h2>
    <p>
    Are you sure to delete ToDo Item {{ object.title }}
    with description <i>{{ object.description }}</i>?
    </p>
    <form method="post">{% csrf_token %}
    {{ form }}
    <button type="submit">Delete</button>
    </form>

      <div>
          <a href="{% url 'todo_list:detail' object.pk %}">
              Back to ToDo Item details
          </a>
    </div>
{% endblock body %}